* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    min-height: 3rem;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 12rem;
    padding-right: 12rem;
}
.graybox {
    background-color: gray;
    display: flex;
    min-width: 21rem;
    min-height: 28rem;
}

.box1 {
    display: flex;
    align-items: center;
    background-image: url(img/1.webp);
    background-size: cover;
    background-position: center;
}

.box1:hover {
    background-image: url(img/1b.webp);  
}

.box2 {
    display: flex;
    align-items: center;
    background-image: url(img/2.webp);
    background-size: cover;
    background-position: center;
}

.box2:hover {
    background-image: url(img/2b.webp);  
}

.box3 {
    display: flex;
    align-items: center;
    background-image: url(img/3.webp);
    background-size: cover;
    background-position: center;
}

.box3:hover {
    background-image: url(img/3b.webp);  
}

.box4 {
    display: flex;
    align-items: center;
    background-image: url(img/4.webp);
    background-size: cover;
    background-position: center;
}

.box4:hover {
    background-image: url(img/4b.webp);  
}

.box5 {
    display: flex;
    align-items: center;
    background-image: url(img/5.webp);
    background-size: cover;
    background-position: center;
}

.box5:hover {
    background-image: url(img/5b.webp);  
}

.box6 {
    display: flex;
    align-items: center;
    background-image: url(img/6.webp);
    background-size: cover;
    background-position: center;
}

.box6:hover {
    background-image: url(img/6b.webp);  
}

.greenbox {
    background-color: green;
    position: absolute;
    top: 480px;
    left:230px;

}

.redbox {
    background-color: red;
    position: absolute;
    top: 480px;
}


